.place-cat-cont .thumb img{
	width: 100%;
}
.place-cat-cont p{
	background: #00b0b5;
	padding: 3px 10px;
	font-size: 25px;
	position: relative;
	top: -20px;
}
.place-cat-cont p:hover, .place-cat-cont p:hover a{ 
	background: white;
	color: #00b0b5 !important;
}
.place-cat-cont p a{
	display: block;
}
.place-cat-cont p a:hover{
	color: #00b0b5;
	text-decoration: none;
}
.place-cat-cont {
	padding: 5px;
}
.place-cat-cont .admin-btns{
	margin-top: -20px;
    margin-bottom: 20px;
}
#place-main-container #id_kat, .select-cat-label{
	height: 31px;
	margin: 6px auto;
	font-size: 20px;
	padding: 0px 10px;
	background: none;
	border: 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	color: white;
	padding-right: 20px;
	top: 11px !important;
}
#place-main-container #id_kat_wrapper::after{
	content: '';
	background: url('arrow_down.png');
	width: 15px;
	height: 8px;
	position: absolute;
	top: 20px;
	right: 0px;
	background-size: 15px 8px;
	pointer-events: none;
}
#place-main-container #id_kat_wrapper{
	display: inline-block;
	position: relative;
}
.place-page-container .place-name, .place-page-container .place-name input{
	font-size: 30px !important;
	height: auto !important;
	margin: 0 !important;
}
.place-page-container .place-adress, .place-page-container .place-adress input{
	font-size: 17px;
	height: auto;
	margin: 0;
}
.place-page-container #place_desc{
	font-size: 18px;
	font-family: inherit;
	width: calc(65% - 16px);
	resize: none;
	height: 250px;
	padding: 10px 8px;
}
.place-page-container .desc-field input{
	font-size: 16px !important;
	height: 20px !important;
}
.place-page-container #place-filters p{
	font-size: 20px;
    border-bottom: 1px solid #b0b0b0;
    padding-bottom: 9px;
    margin: 20px 0 10px 0;
}
.place-page-container #place-filters{
    margin: 70px 0;
}
.place-page-container #place-filters label{
	width: 25%;
	display: inline-block;
	font-size: 17px;
	color: black;
	cursor: pointer;
	margin-bottom: 10px;
}
.place-page-container #place-filters label input{
	vertical-align: top;
}
.place-page-container .place-hours-edit input{
	width: 40px;
	font-size: 12px !important;
	margin-top: 4px;
	height: 16px !important;
}
.place-page-container .place-hours-edit .firstInput{
	margin-left: 10px;
}
.place-page-container .place-hours-edit span{
	display: inline-block;
	min-width: 30px;
	font-size: 12px !important;
}
.place-page-container .place-hours-edit{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 19px;
}
.place-page-container .place-hours-edit div{
	margin: 8px 0;
}
.place-page-container .place-hours-edit div .rad{
	font-size: 17px;
    color: black;
}
.place-page-container .place-hours-edit span{
	font-size: 16px !important;
}
.show-place-page #main_picture{
	display: block !important;
}
.show-place-page #place_name{
	font-size: 30px !important;
	color: #1d1d1b !important;
}
.show-place-page #place_adress{
	color: #a3a5a8 !important;
	margin-bottom: 10px !important;
	font-size: 16px !important;
}
.show-place-page #place-show-open-hours{
	color: black !important;
	font-size: 18px !important;
}
.show-place-page .desc-field{
	color: black !important;
	font-size: 16px !important;
}
.show-place-page .desc-field span{
	font-size: 16px !important;
	top: 0 !important;
	display: block;
	margin-bottom: 11px !important;
	margin-top: 1px !important;
	color: #a3a5a8 !important;
}
.show-place-page #main_event_desc p{
	font-size: 18px !important;
	color: #1d1d1b !important;
	width: 62%;
	text-align: justify;
}
.show-place-page  #place-filters p{
	font-size: 21px;
	border-bottom: 0px;
	margin: 0;
	color: #00b0b5;
}
.show-place-page  #place-filters p span{
	font-size: 19px;
	color: #1d1d1b;
}
.show-place-page  #place-filters {
	margin: 20px 0;
}
.show-place-page  #average-rating {
	font-size: 25px;
	color: #231f20;
	position: absolute;
	top: 10px;
	right: 15px;
}
.show-place-page  #average-rating span{
	font-size: 30px;
	color: #00b0b5;
	top: 0;
	vertical-align: bottom;
}
#place-show-open-hours td:first-of-type{    
	width: 60px !important;
}
#place-desc-hours-time{
	position: absolute;
	top: 20px;
	right: 28px;
	font-size: 18px !important;
}
#place-desc-hours-time p.desc-field{    
	font-size: 19px !important;
}
#place-desc-fileds .desc-field .show-contact, #place-desc-fileds .desc-field  a{    
	color: #00AFB4 !important;
	cursor: pointer;
}
.show-contact:hover, #place-desc-fileds .desc-field  a:hover{    
	text-decoration: underline;
}
#place-desc-fileds .desc-field  .hidden-contact{
	display: none;
}
#rating-result-container{
	padding: 10px;
	border-top: 1px solid #a3a5a8;
	margin: 0 10px;
}
#rating-result-container .main-average{
	font-size: 40px;
	max-width: 52%;
	display: inline-block;
}
#rating-result-container .main-average span{
	color: #00AFB4;
}
#rating-result-container .main-average .rate-this-place{
	font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 6px 0;
}
#rating-result-container .main-average .rate-this-place:hover{
	text-decoration: underline;
}
#rating-result-container #rating-details, .comment-rating-details{
	float: right;
	font-size: 16px;
}
.comment-rating-details{
	margin: 0px 18px;
}
#rating-result-container #rating-details table, .comment-rating-details table{
	font-size: 18px;
	color: black;
	text-align: left;
}
#rating-result-container #rating-details table td:first-of-type, .comment-rating-details table td:first-of-type{
	width: auto;
	margin: 0;
	padding-right: 5px;
}
#rating-result-container #rating-details table img, .comment-rating-details table img {
    width: 18px;
    margin: 0 1px;
}
#add-event-in-place a{
    position: relative;
	display: inline-block;
	margin: 30px 0 0 26px;
}
#add-event-in-place a img{
    position: absolute;
	top: 0;
	left: -27px;
}
.show-place-page #main_event_desc .place-created-by{
    margin: 0px !important;
	font-size: 14px !important;
	color: #b0b0b0 !important;
}
.show-place-page .event-comments {
    margin-top: 20px;
}
.btn-red{
	background: #bc1622;
	border: 1px solid #bc1622;
}