@import url(https://fonts.googleapis.com/css?family=Ubuntu);
.ui-widget-header{
	background: #edac00 !important;
	color: white !important;
	font-size: 10px !important;
}
.ui-state-default{
	color: #edac00 !important;
	font-family: 'Ubuntu', sans-serif !important;
	background: none !important;
	border: none !important;
	/*width: 20px !important;*/
	text-align: center !important;
}
.ui-state-default:hover{
	color: black !important;
	background: #edac00 !important;
}
.ui-datepicker th {
	font-size: 9px;	
}
.ui-datepicker{
	width: 147px !important;
	/*float: right !important; */
	background: #efefef !important;
}
.ui-widget {
    font-size: 0.71em !important;
}
input[id="date"]{
	  margin: 20px 0;
	  width: 250px;
}
.ui-datepicker-current-day{
	background-color: black;
	color: white;
}
#edit_event_time #datepicker{
	float: none !important;
	width: 100% !important;
	border-right: 0 !important;
	padding: 0 !important;
	min-height: 0 !important;
}