@font-face {
    font-family: 'Apolonia';
    src: url(fonts/ApoloniaLight.otf);
    font-weight: normal;
}
@font-face {
    font-family: 'Apolonia';
    src: url(fonts/ApoloniaBold.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'Myriad';
    src: url(fonts/MyriadPro-Regular.otf);
    font-weight: normal;
}
a{
	text-decoration:none;
	color: white;
}
body{
	font-family: 'Apolonia';
	background: #f2f2f2;
	margin: 0px;
}
#top{
	max-width: 1000px;
	margin:auto auto;
	font-family: 'Apolonia';
	background: #f2f2f2;
}
nav{
	background-color: #4c4c4c;
	font-size: 16px;
}
#MENU{
	z-index: 7;
	position: relative;
	top: -10px;
}
#MENU-FIX{
	width: 100%;
	top:0;
	left: 0%;
	z-index: 5;
	position: fixed;
	height: 40px;
}
#logo, #logo_fix{
	height: 27px;
	margin: 23px 50px 0px 50px;
}
#logo_fix{
	height: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#main_menu, #main_menu_fix{
	position: relative;
	top: -8px;
	display: inline-block;	
}
#main_menu_fix{
	top: -15px;
}
#u_menu li, #u_menu_fix li{
	margin-right: 15px;
	cursor: pointer;
}
#u_menu a:hover, #u_menu_fix a:hover{
	color: #5eafb4;
}
nav ul, nav ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
}
nav ul li {
	display: inline;
	white-space: nowrap;
}
#panel, #panel_fix{
	float: right;
	display: inline-block;
	margin: 2px 80px;
	margin-bottom: 0;
}
#panel .add, #panel_fix .add{
	color: white;
	padding: 20px 10px 14px 25px;
	background-color: #5eafb4;
	margin-right: 50px;
	position: relative;
	top: 2px;
}
#panel_fix .add{
	padding: 11px 5px 11px 15px;
	top: -4px;
}
#panel .add:hover, #panel_fix .add:hover{
	color: #5eafb4;
	background: white;
	cursor: pointer;
}
#panel .add:hover a, #panel_fix .add:hover a{
	color: #5eafb4;
}
#panel table #add_img, #add_img_fix{
	height: 40px;
	position: relative;
	left: 22px;
	z-index: 2;
	top: 6px;
}
#add_img_fix{
	height: 25px;
	left: 15px;
	top: -3px;
}
#panel #avatar, #avatar_fix{
	margin: 0 20px;
	margin-right: 5px;
	vertical-align: bottom;
}
#avatar_fix{    
	position: relative;
    top: -3px;
}
#panel_fix .nickname {
    top: 0px;
}
#event_id, #event_id a{
	font-size: 16px;
	color: black;
}
#event_id a:hover{
	color: #5eafb4;
}
.nickname{
	position: relative;
	top: 4px;
}
#categories_list{
	text-align: center;
	background-color: #1a1a1a;
	padding: 10px;
}
#categories_list li{
	margin-right: 10px;
}
#categories_list li:hover{
	color: #5eafb4;
	cursor: pointer;
}
h1, h3{
	border-bottom: 4px solid #4c4c4c;
	font-size: 25px;
	font-weight: normal;
	padding-bottom: 8px;
}
#container{
	width: 100%;
	margin: auto;
}
#main_event{
	width: 65%;
	background-color: white;
	display: inline-block;
	min-height: 435px;
	cursor: pointer;
}
#main_event:hover{
	background-color:black;
	color: white;
}
#main_event:hover a{
	color: white;
}
#main_picture{
	width: 100%;
	position: relative;
	top: -100px;
}
#s_popular{
	display: inline-block;
	float: right;
	width: 34%;
}
#s_popular h3{
	color: white;
	background-color: black;
	padding: 4px 0;
	margin: 0;
	text-align: center;
}	
#s_popular a, #recommend_events a, #main_event a, #events a{ 
	color: inherit;
}
#recommend_events a:hover, #events a:hover{
	color: #5eafb4;
	text-decoration: underline;
}
#main_event .mainevent_desc{
	position: relative;
	top: 0px;
}
#main_event .mainevent_desc #dateOfMainEvent{
	position: absolute;
	top: 10px;
	right: 20px;
}
#main_event .mainevent_desc > img:first-of-type{
	width: 30px;
}
#main_event .mainevent_desc span{
	font-size: 22px;
    vertical-align: top;
    position: relative;
    top: 7px;
}
#main_event .mainevent_img{
	width: 100%;
	height: 300px;
	overflow: hidden;
	background-color: black;
	text-align: center;
	position: relative;
}
.mainevent-title-box{
	background-color: #5eafb4;
	color: white;
    padding: 0 20px;
}
.mainevent-title-box img{
	height: 35px;
}
.mainevent-title-box p{
	float: right;
	color: white;
    vertical-align: top;
    position: relative;
	top: 0px;
    font-size: 22px;
	height: 39px;
	cursor: pointer;
}
.mainevent-info-box{
	padding: 20px;
}
.rec-desc-topbox{
	background-color: #5eafb4;
	color: white;
    padding: 0 5px;
}
.rec-desc-topbox img{
	height: 25px;
	width: auto !important;
	border-bottom: 0 !important;
}
.rec-desc-topbox p{
	float: right;
    margin-top: 5px;
    margin-bottom: 0;
}
.rec-desc-topbox span{
	vertical-align: top;
	position: relative;
    top: 5px;
}
#main_event .mainevent_img_on_eventpage{
	width: 100%;
	background-color: black;
	text-align: center;
	position: relative;
}
#main_event .mainevent_img_on_eventpage img{
	width: 100%;
	top: 0 !important;
	vertical-align: middle;
}
.archive{
	position: absolute;
	top: 0;
	right: 0;
}
.s_archive{
	color: red;
}
#main_event h2{
	margin: 5px 0;
    font-size: 30px;
	font-weight: normal;
}
#main_event p{
	margin: 3px 0;
}
#main_event table{
	/*float: right;*/
}
#main_event table img{
	width: 15px; 
	margin: 0 5px;
}
#main_event table{
	font-size: 12px;
	color: #999999;
	vertical-align: middle;
}
#main_event table td:first-of-type{    
	width: 130px;
}
#main_event table .other_date_time{    
	padding-left: 5px;
}
#s_popular{
	background-color:white;
	min-height: 435px;
	margin-left: 1%;
}
.add-to-like-box{
	background: #e92e49;
	color: white;
	margin: 0 !important;
    position: relative;
    top: 0px !important;
    padding: 0;
}
.add-to-like-box span{
    font-size: 15px !important;
    top: 0;
    display: inline-block;
	text-align: right;
    margin-right: 10px;    
	margin-left: 10px;
    line-height: 0.95;
}
.add-to-like-box img{
    height: 27px;
    margin-top: 8px;
    margin-right: 5px;
    margin-bottom: 3px;
}
.fb-share-button {
	float: right;
    margin-left: 5px;
}
.eventpage_desc{
	padding-right: 0px;
}
.mainevent-info-box > div:first-of-type{
	width: 100%;
	display: inline-block;
}
.mainevent-date-box{
	width: 100%;
	display: inline-block;
	vertical-align: top;
    font-size: 14px;
    text-align: left;
	margin-top: 10px;
}
.place-name{
	color: #a3a5a8;
	margin-bottom: 10px;
}
.event-author{
	color: #a3a5a8;
}
.event-price{
	color: black !important; 
}
.mainevent-date-box table{
	color: black !important;
	font-size: 14px !important;
	display: none;
}
.event-day-cat{
	display: inline-block;
	background-color: #5eafb4;
	color: white !important;
}
.event-day-cat span{
	color: white !important;
}
.mainevent_desc:hover table{
	/*color: white !important;*/
}
.mainevent-date-box .show-other{
	text-decoration: underline;
	cursor: pointer;
	color: #5eafb4;
}
.mainevent-date-box .show-other:hover{
	color: black;
}
.popular{
	border-bottom: 1px solid #999999;
	margin: 0px 10px;
	clear: both;
	padding: 2px 0px 5px 0px;
}
.popular .thumb_event{
	float: left;
    width: 75px;
    margin: 5px;
	height: 75px;
	overflow: hidden;
}
.popular:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}
.thumb_event img{
	width: 100%;
	-webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
            transition: all 1s ease;
}
.popular:hover .thumb_event img, .event:hover .thumb_event img{
	-moz-transform:scale(1.2); 
	-webkit-transform:scale(1.2);
	-o-transform:scale(1.2);
}
.recommend:hover .thumb_event img{
	-moz-transform:scale(1.0); 
	-webkit-transform:scale(1.0);
	-o-transform:scale(1.0);
}
.popular h4, .popular h5{
	margin: 0;
	font-weight: normal;
}
.popular h4{
	position: relative;
	top: 5px;
	font-size: 16px;
}
.popular h5{
	font-size: 13px;
	color: #999999;
}
.popular{
	height: 80px;
	overflow: hidden;
}
.noborder{
	border: none !important;
}
#recommend_events{
	text-align: center;
}
#recommend_events h3{
	text-align: left;
}
.recommend{
	overflow: hidden;
	width: 24%;
	display: inline-block;
	margin-right: 1%;
	margin-bottom: 20px;
	text-align: left;
	background-color: white;
	min-height: 345px;
	float: left;
	max-height: 345px;
}
.recommend:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}
.recommend img{
	width: 100%;
	border-bottom: 3px solid #5eafb4;
}
.recommend h4{
	font-size: 20px;
	margin: 5px;
	font-weight: normal;
}
.recommend h5{
	font-size: 15px;
	margin: 5px;
	font-weight: normal;
	color: #999999;
}
#container_calendar{
/*	background-color: white;*/
}
.open-filter-panel{
	background: white none repeat scroll 0% 0%;
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-right: 20px;
}
.price-filtr-container{
	background: none;
	display: inline-block;
	margin-right: 0px;
}
.open-filter-panel:hover > span{
	color: black;
}
.open-filter-panel  > span{
	font-size: 15px;
	padding: 0px 11px;
	color: rgb(94, 175, 180);
}
.open-filter-panel img{
	vertical-align: middle;
}
#event_calendar{
	clear: both;
	position: relative;
}
#calendar{
	display: inline-block;
	width: 55%;
	min-height: 700px;
	position: relative;
}
#stick_map{
	float: right;
	width: 32%;
	text-align: center;
}
#empty_stick_map{
	float: right;
	width: 32%;
	text-align: center;
	display: none;
}
#map{
	width: 100%;
	text-align: center;
	height: 530px;
}
#stick_map img{
	height: 670px;
}
#switcher_date{
	text-align: center;
	font-size: 22px;
	margin: 20px;
	padding-bottom: 10px;
	border-bottom: 8px solid black;
}  
#switcher_date a{
	color: black;
	background-color: #f2f2f2;
	cursor:pointer;
	padding: 2px;
}
#switcher_date a:hover{
	color: #f2f2f2;
	background-color: black;
}
.no_background{
	background-color: inherit !important;
}
.no_background:hover{
	background-color: black !important;
}
.cat_icon{
	display: inline-block;
	width: 60px;
	margin: 2px;
	text-align: center;
}
.cat_icon img{
	height: 50px;
	background: #5eafb4;
	padding: 5px;
	cursor: pointer;
}
.nocheck_cat img{
	background: #f2f2f2;
}
.cat_icon:hover img{
	background: black;
}
.cat_icon p {
	margin: 0;
	font-size: 12px;
}
#category-list{
	text-align: center;
}
#calendar_menu{
	margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}
#calendar_menu img{
	height: 20px;
	margin: 3px;
	cursor: pointer;
}
#calendar_menu p{
	margin: 0;
}
#calendar_menu span:hover{
	color: #5eafb4;
	cursor: pointer;
}
.event{
	/*clear: both;
	min-height: 150px;
	margin-bottom: 15px;
	padding-left: 15px 10px 10px 0;*/
}
.event > img:first-of-type{
	/*float: left;
	width: 20%;
	margin: 0 15px 0px 0px;*/
}
.event_desc span{
	color: #5eafb4;
	position:relative;
	top: 8px;
	padding-left: 10px;
	font-size: 15px;
	vertical-align: top;
    margin-right: 5px;
}
.event_desc h4{
	font-weight: normal;
	margin: 5px 0;
	/*height: 30px;*/
	font-size: 20px;
}
.event_desc h5, .event_desc h6{
	color: #999999;
	font-size: 13px;
	margin: 5px 0;
	font-weight: normal;
	min-height: 20px;
}
.event_desc h6{
	float: left;
}
.event p{
	/*margin: 0;
	float:right;
	position: relative;
	right: 10px;
	top: -15px;*/
}
.event p img{
	/*height: 30px;*/
}
.event_desc img{
	height: 30px;
}
.event:hover{
	/*background: black;
	color: white;
	cursor: pointer;*/
}
#switcher_event{
	text-align:center;
	color: black;
	font-size: 22px;
}
#switcher_event a{
	color: black;
	background-color: #f2f2f2;
	cursor:pointer;
	padding: 3px;
} 
#switcher_event a:hover{
	color: #f2f2f2;
	background-color: black;
}
footer{
	clear:both;
	background-color: #4c4c4c;
	height: 30px;
	margin-top: 0px;
	padding-left: 20px;
	padding-top: 10px;
	z-index: 100;
	position: relative;
}
footer a:hover{
	color: #5eafb4;
}
.cont{
	max-width: 1075px;
	margin: auto auto;
}
#checklist_categorie{
	background-color: #e4e4e4;
	width: 200px;
	position: absolute;
	top: 100px;
	max-height: 400px;
	overflow-y: auto;
	z-index: 2; 
	display: none;
}
.cat_on_list{
	width: 90%;
	margin: auto auto;
	height: 40px;
	border-bottom: 1px solid black;
	padding-top: 20px;
	color: #333333;
	font-size: 13px;
	clear: both;
	text-align:center;
}
.cat_on_list img{
	height: 20px;
}
.cat_on_list > img:last-of-type{
	float: right;
	margin-right: 12px;
	cursor: pointer;
}
.cat_on_list > img:first-of-type{
	float: left;
	margin-left: 12px;
}
#checklist_categorie::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #5eafb4;
}

#checklist_categorie::-webkit-scrollbar
{
	width: 6px;
	background-color: #5eafb4;
}

#checklist_categorie::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: black
}
#big_map{
	background-color:white;
	padding: 5px;
}
#big_map img{
	width: 100%;
}
#main_event_desc{
	width: 65%;
	text-align:justify;
}
#main_event_desc > p:first-of-type{
	font-size: 18px;
}
#event_right{
	display: inline-block;
	float: right;
	width: 33%;
	position: relative;
}
#event_on_map img{
	width: 100%;
}
#event_on_map, #reminder{
	background-color: white;
	margin:5px;
	padding: 3px;
	text-align:center;
}
#reminder p img{
	height: 30px;
	position:relative;
	top:8px;
}
#reminder table{
	width: 90%;
	text-align: center;
}
#reminder > p:first-of-type{
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	margin: 0 5px 10px 5px;
}
.temp{
	width: 100%;
}
.check_img{
	height:25px;
	cursor:pointer;
	margin-right: 5px;
	position: relative;
	top: 5px;
}
#reminder div > p:last-of-type{
	color:white;
	padding: 10px 0;
	background-color: #5eafb4;
	margin: 10px 30px; 
}
#reminder div > p:last-of-type:hover{
	color:#5eafb4;
	background-color: black;
	cursor: pointer;
}
#reminder{
	margin-bottom: 20px;
}
.rec_img{
	width: 100%;
	height: 200px;
	overflow: hidden;
}
#datepicker{
	/*position:absolute;*/
	background-color: white;
	/*top: 40px;
	left: 13px;
	z-index: 3;*/
	display: block;
	margin-top: 10px;
}
.filter-container #datepicker{
	background-color: white;
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 315px;
	z-index: 4;
	margin-top: 0px;
}
.filter-container #datepicker .ui-datepicker-inline{
	display: block !important;
	width: 310px !important;
	background: white none repeat scroll 0% 0% !important;
	padding: 4px !important;
	font-size: 15px !important;
}
.filter-container #datepicker .ui-datepicker-header a{
	overflow: hidden;
}
.filter-container #datepicker .ui-datepicker-header{
	background: #5eafb4 !important;
	font-size: 23px !important;
	font-family: "Apolonia" !important;
	font-weight: normal !important;
}
.filter-container #datepicker .ui-datepicker-calendar thead span{
	color: #c90000 !important;
	font-size: 12px !important;
	font-family: "Apolonia" !important;
}
.filter-container #datepicker .ui-datepicker-calendar tbody a{
	font-size: 23px !important;
	color: rgb(94, 175, 180) !important;
	font-family: "Apolonia" !important;
}
.filter-container #datepicker .ui-datepicker-calendar .ui-datepicker-week-end a{
	color: #c90000 !important;
}
.filter-container #datepicker .ui-datepicker-year{
	display: none !important;
}
.filter-container #datepicker  .ui-datepicker-prev {
	background: transparent none repeat scroll 0% 0% !important;
	border: 0px none !important;
	top: 2px !important;
	left: 2px !important;
}
.filter-container #datepicker  .ui-icon.ui-icon-circle-triangle-w {
    background: url('cal-prev.png');    
	background-size: auto 100%;
    background-repeat: no-repeat;
}
.filter-container #datepicker   .ui-datepicker-next{
	background: transparent none repeat scroll 0% 0% !important;
	border: 0px none !important;
	top: 2px !important;
	right: 2px !important;
}
.filter-container #datepicker   .ui-icon.ui-icon-circle-triangle-e {
    background: url('cal-next.png');    
	background-size: auto 100%;
    background-repeat: no-repeat;
}
.filter-container #datepicker  .ui-datepicker-current-day {
    background-color: rgb(94, 175, 180) !important;
	color: white !important;
}
.filter-container #datepicker  .ui-datepicker-current-day a.ui-state-active{
	color: white !important;
}
.filter-container #datepicker  .ui-datepicker-calendar tbody  a.ui-state-hover{
	color: white !important;
	background-color: rgb(94, 175, 180) !important;
}
.today{
	color: #f2f2f2 !important;
	background-color: black !important;
}
.marker{
	font-size: 18px;
	color: black;
}
.marker:hover{
	color: #5eafb4;
}
.ev_th{
	width: 150px;
	height: 150px;
	overflow:hidden;
	display: inline-block;
	float: left;
}
.ev_th img{
	width: 100%;
	padding-right: 10px;
}
.event_desc{
	margin-left: 160px;
	height: 130px;
}
.stick{
    position: fixed;
	top: 40px;
/*	width: 360px !important;*/
}
.acceptEvent{
	width: 65%;
	background-color: rgb(32, 189, 32);
	text-align: center;
	color: white;
	font-size: 25px;
	cursor: pointer;
	padding: 20px 0;
}  
.acceptEvent:hover{
	background-color:black;
	color: rgb(32, 189, 32);
}
#switcher_date a{
	min-width: 30px;
	display: inline-block;
}
.btn {
	border: 2px outset buttonface;
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 16px;
	background: #4ad9d9;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}
.btn:hover {
	background: black !important;
	text-decoration: none;
	cursor: pointer;
}
.savePosition{
	width:100%;
}
#goToEditMainImage{
	position: absolute;
	color: white;
	background-color: rgb(0, 126, 255);
	z-index: 10;
	left: 442px;
	padding: 10px 5px;
}
#goToEditMainImage:hover{
	color: rgb(0, 126, 255);
	background-color: white;
}
#top_events{
	position: relative;
}
#reminder .btn{
	margin: 10px;
}
.rem{
	width: 80px;
	height: 100px;
	overflow: hidden;
	background: rgb(51, 51, 51);
	text-align: center;
	display: inline-block;
}
.zaloguj, .zarejestruj{
	padding: 5px 20px;
	background-color: #5eafb4;
	font-size: 20px;
}
.zarejestruj:hover, .zaloguj:hover{
	background: white;
}
.zarejestruj:hover a, .zaloguj:hover a{
	color: #5eafb4 !important;
}
#widget_co_w_kaliszu{
	position: fixed;
	top: 70px;
	right: 0;
	width: 320px;
	height: 1200px;
	transition: right 0.5s ease-out 0s;
	right: -259px;
}
iframe{
	margin: 0;
	padding: 0;
	border: none;
	width: 320px;
	height: 98%;
}
#widget_co_w_kaliszu:hover {
    right: 0;
}
#login_panel_rem{
	display: none;
}
#mobile_main_nav {
	display: none;
}
#mobile_main_nav > img{
	float: right;
    margin-right: 20px;
    margin-top: 10px;
	cursor: pointer;
	height: 35px;
}
#mobile_main_nav table{
	width: 100%;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
}
#mobile_main_nav table td{
	height: 30px;
}
#mobile_main_nav table td a:hover{
	color: #5eafb4 !important;
}
#reg_tresc_area{
	resize: none;
	width: 100%;
	height: 1000px;
}
#fbshare{
	float: right;
    height: 39px;
    position: relative;
    top: 0px;
	cursor: pointer;
}
#main_event_desc h6, .more-event, .more-event-incat, .mainevent-info-box h4{
	color: #808080;
	font-size: 17px;
    font-weight: normal;
    margin: 0;
}
#main_event_desc iframe{
	margin-top: 10px;
	width: 560px !important;
	height: 315px !important;
}
#main_event_desc a{
	color: #5eafb4;
}
#main_event_desc a:hover{
	color: black;
}
#preview-options{
    position: fixed;
    z-index: 2;
    left: 0;
}
.btn-p-o{
	min-width: 130px;
}
.b-accept{
	background: green;
}
.b-delete{
	background: red;
}
.more-event:hover, .more-event-incat:hover{
	cursor: pointer;
	color: #5eafb4;
}
.other-event-in-place .event_desc h4 a, .other-ev-in-cat .event_desc h4 a{
	color: black;
}
.other-event-in-place h3{
	border-bottom: 2px solid #4c4c4c;
}
.other-event-in-place .event:hover h4 a, .other-ev-in-cat .event:hover h4 a{
	color: #5eafb4;
}
.other-event-in-place .event, .other-event-in-place .near-place, .other-event-in-place .event{
    display: inline-block;
	width: 33%;
    vertical-align: top;
	padding: 10px 0;
}
.main_on_eventpage:hover{
	background: white !important;
	color: black !important;
	cursor: default !important;
}
#container_calendar{
	display: flex;
}
.cat-filter-container{
	display: none;
	position: fixed;
	text-align: center;
	color: white;
	font-size: 22px;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 1500;
}
.head-filter{
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	border-bottom: 1px solid white;
	padding-bottom: 7px;
	background: url('arrDown.png') no-repeat;
	background-position: 100% 50%;
	cursor: pointer;
}
.head-filter:hover{
	color: #e9a800;
}
.extendend-filter .head-filter{
	background: url('arrUp.png') no-repeat;
	background-position: 100% 50%;
}
.filter-elem {
	padding: 15px;
	position: relative;
}
.filter-container li{
	font-size: 22px;
	display: inline-block;
	padding: 10px 25px;
	margin: 4px;
	background: #b3b3b3;
	color: white;
}
.filter-container li:hover, .filter-container .activ-option{
	cursor: pointer;
	background: #69b3b5;
}
.cat-filter-btns{
	text-align: center;
	margin-top: 50px;
}
.cat-filter-btn{
	font-size: 22px;
	display: inline-block;
	padding: 10px 25px;
	margin: 4px;
	color: white;
	cursor: pointer;
	border: 0;
}
.back-filter{
	background: black;
}
.back-filter:hover{
	color: black;
	background: white;
}
.accept-filter{
	background: #c5324a;
}
.accept-filter:hover{
	color: #c5324a;
	background: white;
}
.vertical-center-wrap{   
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
}
.cat-filter-container p{   
	font-size: 27px;
	color: white;
	margin-bottom: 35px;
}
.list-of-activ-kategory div{
	color: white;
	padding: 10px 20px;
	display: inline-block;
	background: rgb(105, 179, 181) none repeat scroll 0% 0%;
	font-size: 22px;
	margin: 10px 5px 5px 0;
	position: relative;
}
.list-of-activ-kategory img{
	height: 13px;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 4px;
	display: none;
}
.list-of-activ-kategory div:hover img{
	display: block;
}
.filter-container ul{
	padding: 0;
	display: block;
	width: 80%;
	word-wrap: break-word;
	margin: auto;
	max-width: 1000px;
}
.event-list-in-calendar{
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 10px;
	width: calc(68% - 187px);
}
.day-header{
	text-align: center;
	font-weight: light;
	font-size: 32px;
	color: black;
	margin: 30px 0 5px 0;
	padding: 10px 0;
}
.day-header span{
	font-size: 26px;
}
.events-in-day-container{
	-webkit-flex-flow: wrap row;
	flex-flow: wrap row;
	display: flex;
}
.event-day .eve-thumb{
	width: 100%;
	margin-bottom: 35px;
}
.event-day{    
	width: 48%;
    padding: 10px 0;
    position: relative;
    margin: 0 1%;
	overflow: hidden;
}
.event-day-desc img{
	height: 24px;
	vertical-align: bottom;
}
.event-day-desc .cat-name{
	font-size: 15px;
	color: white;
	margin: 0;
}
.event-day-desc .event-title{
	font-size: 17px;
	color: black;
	margin: 2px 0;
}
.event-day-desc .external-info{
	font-size: 11px;
	color: white;
	margin: 4px 0 0 0;
}
.event-day-desc .external-info p{
	margin: 2px 0;
}
.event-day-desc .external-info a{
	text-decoration: none;
}
.event-day-desc .external-info a:hover{
	color: black;
}
.event-day-desc .event-title a{
	text-decoration: none;
	color: black;
}
.event-day-desc .event-title a:hover{
	color: white;
}
.event-day-desc{
	background: #5eafb4;
	position: absolute;
	left: 0px;
	bottom: -35px;
	width: 94%;
	padding: 3%;
	-webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;
}
.event-day:hover .event-day-desc{
	bottom: 0px;
}
.event-day-desc .share-like-btns{    
	position: absolute;
    top: 0;
    right: 0;
}
.a-block{
	display: block;
}
.beforeToday{
	opacity: .35;
}
.share-like-btns img{
	margin-top: 9px;
	height: 18px;
	cursor: pointer;
	margin-right: 5px;
}
.share-like-btns p{
	display: inline;
}
.no-events{
	display: none;
}
.loading-panel{
	text-align: center;
	display: none;
}
.flex-box{
	display: flex;
}
.event-comments{
    width: 65%;
    display: inline-block;
	margin-top: 70px;
}
.add-comment{
	background: rgb(76, 76, 76) none repeat scroll 0% 0%;
	color: rgb(153, 153, 152);
	padding: 20px;
}
.avatar-comment{
    display: inline-block;
    width: 100px;
    text-align: center;
}
.avatar-comment img{    
	height: 70px;
}
.add-comment-form{    
	display: inline-block;
	width: calc(100% - 115px);
}
.add-comment-form textarea{       
	width: 100%;
    resize: none;
	font-family: "Apolonia";
	padding: 10px;
	width: calc(100% - 20px);
	border: 0px none;
}
#addComment{       
	float: right;
	padding: 8px 35px;
	background: rgb(33, 180, 183) none repeat scroll 0% 0%;
	outline: 0px none;
	border: 0px none;
	color: white;
	cursor: pointer;
	font-size: 15px;
	margin-top: 17px;
}
#addComment:hover{      
	color: rgb(33, 180, 183);
	background: white;
}
.comment-content{          
	display: inline-block;
    width: calc(100% - 104px);
	vertical-align: top;
}
.comment-content h5{      
	font-size: 15px;
    margin: 13px 0px 2px;
}
.comment-content p{      
	margin-top: 0px;
	color: rgb(112, 112, 112);
}
.ev-comment{          
	padding: 30px 0px;
    border-bottom: 1px solid rgb(174, 174, 174);
}
.other-event-in-place h4{
	margin: 0;
	margin-top: 10px;
}
.other-event-in-place{
	margin: 15px 0;
}
.other-event-in-place h5{
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 11px !important;
}
.other-event-in-place h6{
	float: none;
	font-size: 11px !important;
}
.price_separator{
	color: inherit !important;
	position: relative !important;
	top: 0px !important;
	padding-left: 8px !important;
	font-size: 11px !important;
	vertical-align: top !important;
	margin-right: 8px !important;
}
.more-event-data{
	color: rgb(153, 153, 153);
	font-size: 11px;    
	margin-top: 0px;
}
.other-event-in-place .ev_th{
	cursor: pointer;
}
.more-event, .more-event-incat{
	font-size: 14px !important;
	margin: 15px 0;
}
.rating-star{
	height: 11px !important;
}
.place-rating{
	font-size: 12px;
}
.place-rating strong{
	font-size: 15px;
}
.main-event-in-main-page table{
	float: right !important;
}
.main-event-in-main-page table td:first-of-type {
    width: auto !important; 
}
.main-event-in-main-page .mainevent-title-box p {
	top: 3px !important;
}
.main-event-in-main-page .mainevent-info-box {
    padding: 20px;
    padding-bottom: 0;
}
.main-event-in-main-page .place-info{
	margin-top: 8px !important;
}
.main-event-in-main-page .price-info{
    color: #a3a5a8;
	margin-top: 8px !important;
}
#place-more-info{
    background: white none repeat scroll 0% 0%;
	margin: 15px 5px;
	padding: 15px;
	font-size: 15px;
}
#place-more-info .place-header img{    
	float: left;
}
#place-more-info .place-header .place-name{    
	margin-left: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	color: black;
}
#place-more-info .place-header .place-adress{    
	margin-left: 40px;
	margin-top: 0px;
	color: rgb(163, 165, 168);
}
#place-more-info a{    
	color: rgb(0, 177, 182);
}
#place-more-info a:hover{    
	color: black;
}
#place-more-info .image{    
	width: 100%;
}
#goToBigMap{    
	cursor: pointer;
	position: absolute;
	z-index: 1;
	top: 220px;
	left: 5px;
}
.mainevent-info-box h4{        
	margin-top: 10px;
}
.edit-btn{
	background: blue;
	border: 0;
	color: white;
	cursor: pointer;
	margin-right: 8px;
}
.delete-btn{
	background: red;
	border: 0;
	color: white;
	cursor: pointer;
}
.editComment-panel{
	display: none;
}
.accept-btn{
	float: right;
	padding: 4px 20px;
	background: rgb(33, 180, 183) none repeat scroll 0% 0%;
	outline: 0px none;
	border: 0px none;
	color: white;
	cursor: pointer;
	font-size: 12px;
}
.edit-comment-field{
    width: 100%;
    resize: none;
    font-family: "Apolonia";
    padding: 10px;
    width: calc(100% - 20px);
    border: 0px none;
}
#confirm_delete{
	position: fixed;
	width: 450px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -100px;
	background-color: #4c4c4c;
	text-align: center;
	padding: 30px;
	color: white;
	font-size: 22px;
	display: none;
	padding-top: 15px;
}
#confirm_delete img{
	cursor: pointer;
}
.rad{
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  color: rgb(94, 175, 180);
  font-size: 15px;
  margin-right: 5px;
}
.rad > input{ 
  visibility: hidden;
  position: absolute;
}
.rad > i{     
  display: inline-block;
  vertical-align: middle;
  width:  25px;
  height: 25px;
  border-radius: 50%;
  transition: 0.2s;
  box-shadow: inset 0 0 0 15px #fff;
  border: 1px solid gray;
  background: gray;
}
.rad:hover > i{ 
  box-shadow: inset 0 0 0 6px #fff;
  background: gray;
}
.rad > input:checked + i{ 
  box-shadow: inset 0 0 0 6px #fff;
  background: rgb(94, 175, 180);
}
.event-n{ 
	display: flex;
	font-size: 17px;
	color: black;
	width: 100%;
	margin-top: 10px;
}
.event-th-n{ 
	width: 50%;
}
.event-th-n img{ 
    width: 100%;
	cursor: pointer;
    vertical-align: bottom;
}
.event-desc-cont-n{ 
	width: 50%;
	background: white;
	position: relative;
}
.event-desc-n{ 
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: calc(100% - 40px);
}
.event-desc-n a{  
	text-decoration: none;
	color: #999999;
}
.event-desc-n a:hover{  
	cursor: pointer;
	color: rgb(94, 175, 180);
}
.event-cat-n{ 
	color: #999999;
}
.event-tit-n{    
	font-size: 22px;
    border-bottom: 1px solid #999999;
    padding-bottom: 18px;
    margin: 30px 0px !important;
}
.event-tit-n a{    
	color: black;
}
.event-desc-n p span{ 
	color: #999999;
}
.event-desc-n p{ 
	margin: 16px 0;
}
@media screen and (max-width: 1000px) {
	#mobile_main_nav{
		display: block;
	}
	#mobile_main_nav table{
		display: none;
	}
	#MENU-FIX{
		display: none;
	}
	#MENU{
		display: none;
	}
	iframe{
		display: none;
	}
	#main_event{
		width: 100%;
	}
	#s_popular{
		display: none;
	}
	.recommend{
		width: 48%;
		min-height: 0;
	}
	.rec_img{
		height: auto;
	}
	.recommend h4{
		font-size: 16px;
	}
	#stick_map{
		display: none;
	}
	#calendar{
		width: 100%;
	}
	#switcher_date a{
		min-width: 20px;
		font-size: 18px;
	}
	
	#event_right{
		width: 100%;
		float: none;
		margin: 20px auto;
	}
	#event_right #event_on_map{
		height: 300px !important;
	}
	#main_event_desc{
		float: none;
		width: 100%;
		margin: 20px auto;
	}
	.mainevent-info-box > div:first-of-type {
		width: 100%;
	}
	.mainevent-date-box{
		width: 100%;
		text-align: left;
	}
	footer{
		font-size: 11px;
	}
}	
